---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import FeedBackForm from '../components/FeedBackForm'
---

<Layout title="GNUBIES">
	<main >
		<Header />
		<FeedBackForm client:load />
	</main>
</Layout>

