---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
---


<Layout title="Gracias">
    <main>
        <Header />
        <div class="mx-auto text-center mb-8 lg:mb-16">
            <section class=" tracking-tigh  bg-gradient-animated bg-400% animate-gradient">
                <div class="relative text-3xl text-center text-black">
                    Gracias por Responder, ¡Te estaremos contactando!
                </div>
            </section>
        </div>
    </main>
</Layout>