---
const logoSrc = '/LogoGlud.png';
const udSrc = '/ud.png';
---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-10 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <div class="logo-container flex flex-col md:flex-row items-center justify-center space-y-4 lg:space-y-0 lg:space-x-4">
            <img src={logoSrc} alt="Logo Glud" class="logo" />
            <h2 class="text-4xl lg:text-8xl tracking-tight font-extrabold text-white">
                GNUBIES
            </h2>
            <img src={udSrc} alt="Logo Ud"  class="logo hidden md:block"/>
        </div>

        <h3 class="mb-4 text-2xl lg:text-4xl tracking-tight font-extrabold text-white">
            2024-III
        </h3>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            Grupo de trabajo
        </p>
    </div>

    <div class="text-left">
        <details class="mb-4">
            <summary class="text-lg font-bold text-white">¿Qué es un Gnubie?</summary>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400 mt-2">
                Un Gnubie es alguien que está comenzando su camino en el mundo de GNU/Linux y el software libre. Si nunca has usado Linux o el software libre, este curso está diseñado para ti.
            </p>
        </details>

        <details class="mb-4">
            <summary class="text-lg font-bold text-white">¿Qué aprenderás en este curso?</summary>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400 mt-2">
                Aprenderás desde los fundamentos de GNU/Linux hasta cómo instalar, configurar y utilizar herramientas de software libre para tus proyectos. Este curso te enseñará a dominar la terminal, instalar distribuciones de Linux, y cómo colaborar en proyectos de código abierto.
            </p>
        </details>

        <details class="mb-4">
            <summary class="text-lg font-bold text-white">¿Por qué unirte?</summary>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400 mt-2">
                No necesitas experiencia previa, solo curiosidad y ganas de aprender. El curso está orientado a principiantes y contarás con el apoyo de un equipo de expertos que te guiará paso a paso.
            </p>
        </details>

        <details class="mb-4">
            <summary class="text-lg font-bold text-white">¿A quién va dirigido?</summary>
            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400 mt-2">
                Este curso va dirigido a estudiantes, profesionales y entusiastas que quieran aprender y aprovechar las herramientas del software libre y GNU/Linux.
            </p>
        </details>
    </div>
</header>
