---

---

<header class="py-8 px-4 mx-auto max-w-xl lg:py-10 lg:px-6">
    <div class="mx-auto text-center mb-8 lg:mb-16">
        <h2 class="mb-4 text-8xl tracking-tight font-extrabold text-white">
            GNUBIES
        </h2>
        <h3 class="mb-4 text-4xl tracking-tight font-extrabold text-white">
            2024-III
        </h3>
        <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
            Grupo de trabajo
        </p>
    </div>
</header>